<div class="sidebar ">
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
<div class="sidebar">
  Recommended Links:
<li><a href="https://www.archlinux.org/" title="The OS I use" target="_blank">ArchLinux</a></li>
<li><a href="https://wiki.archlinux.org/" title="One of if not the best Linux wiki"target="_blank">ArchWiki</a></li>
<li><a href="https://github.com/ChrisTitusTech/winutil" title="The only Windows Tool you need"target="_blank">Chris Titus - WinUtil</a></li>
<li><a href="https://www.eff.org/" title="Just go there" target="_blank">EFF</a></li>
<li><a href="https://www.giffgaff.com/orders/affiliate/t0m5k1" title="The only phone network you need"target="_blank">GiffGaff</a></li>
<li><a href="https://goo.gl/MUy6Q9" title="Humble Bundle" target="_blank">Humble Bundle</a></li>
<li><a href="https://www.rampix.co.uk/" title="The best Photography studio in Milton Keynes" target="_blank">Rampix Photography</a></li>

  <div class="row">
  {% for job in site.data.job_postings %}
    <div class="col-xs-12"  style="padding-top:10px">
      <a href="{{job.link}}">{{ job.title }}</a>
    </div>
    <div class="col-xs-12">{{ job.tech }}</div>

  {% endfor %}
  </div>
